version: 2
jobs:
  build:
    docker:
      - image: docker
    working_directory: ~/craftcms-demo
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - run:
          docker build -t craftcms-demo .
